.textos {
    text-align: justify;
    padding: 8px 350px;
    font-size: 1.5rem;
  }
  
  .container  {
    text-align:center;
  }
  
  .gifs{
    width: 70vh;
  }
  
.titulo{
    margin: 50px;
    font-size: 2rem;
    text-align:center;
    color:#3f1c5c;
  }