.header {
    padding: 70px;
    text-align: center;
    color: white;
    background-color:#686AAC;
    background-size: cover;
    height: 400px;
    margin-bottom: 50px;
  }
  
  .header h1 {
    font-size: 40px;
  }
  
  .header img {
    margin-top: 10px;
    width: 35vw;
    height: 50vh;
  }